.vs/
GigHub/bin/
packages/
GigHub/obj/Debug/GigHub.csproj.CopyComplete
GigHub/obj/
GigHub.Tests/obj/
GigHub.Tests/bin/
GigHub.IntegrationTests/bin/
GigHub.IntegrationTests/obj/
GigHub.IntegrationTests/GigHub.IntegrationTests.csproj.user
